$font-family-sans-serif: 'Poppins',sans-serif;
$font-size-base: .8rem;
$body-color: #d7dee3;

$primary: #10f789;
$secondary: #242424;
$dark: #121212;

$input-border-color: $primary;
$input-border-width: 2px;
$input-bg: $secondary;